<header>
  <div class="bnf-header-container">
    <div class="bnf-title-container">
<!--      TODO : rendre la version dynamique (binder avec le package json) -->
      <h1 class="bnf-txt-title">Butcher N Farmer</h1>
      <span>(version alpha-0.0.1)</span>
    </div>
  </div>
</header>

<main>
  <div class="bnf-stats-container">
    <ul>
      <li>butchers : 0</li>
      <li>bpb (bones per butcher): 0</li>
      <li>bones : 0</li>
      <li>farms : 0</li>
    </ul>
  </div>
  <div>
    <app-scenes></app-scenes>
  </div>
  <!--    TODO : mettre l'inventaire global du jeu ? -->
  <div class="bnf-inventaire-container"></div>
</main>

<footer>
  <div class="bnf-footer-container">
    <a>politique de confidentialité</a>
  </div>
</footer>
